:root {
  --color-accent: #ff7b00;
  --color-bg: #13161b;
  --color-text: #cbd5e0;
  --color-border: #2d3748;
}

#root {
  margin: 0 auto;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
}

.app-input {
  flex: 1;
  position: relative;
  overflow: auto;
  border-right: 1px solid var(--color-border);
}
.app-input .prism-code-editor {
  height: 100%;
  background-color: var(--color-bg);
}

.app-input ::placeholder {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}


.app-output {
  flex: 1;
  align-items: center;
  padding: 1rem;
  background: var(--color-bg);
  color: white;
  overflow: auto;
  text-align: center;
}

.yamlError {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background: rgba(180, 0, 0, 0.8);
}

.output {
  display: flex;
  justify-content: center;
}

ul {
  margin: 0 0 1rem;
}

.target {
  color: red;
}

.invalid {
  outline: 1px solid red;
  color: red;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 0.4);
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: var(--color-border);
}